<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Change Password</h3>
                        <form [formGroup]="changepwdForm" (ngSubmit)="onSubmit()">
                            <div class="mb-4" >
                               
                                <div class="form-outline mb-4">
                                    <input formControlName="newPassword" type="password" placeholder="Enter New Password" id="typePasswordX-2" class="form-control form-control-lg" />
                                     <span *ngIf="changepwdForm.get('newPassword').errors && changepwdForm.get('newPassword').errors['required'] && changepwdForm.get('newPassword').touched" class="help-block">
                                        Please enter a password
                                    </span> 
                                    <span *ngIf="changepwdForm.get('newPassword').errors && changepwdForm.get('newPassword').errors['minlength'] && changepwdForm.get('newPassword').touched" class="help-block">
                                        Password cannot be less than 8 characters
                                    </span> 
                                     <span *ngIf="changepwdForm.get('newPassword').errors && changepwdForm.get('newPassword').errors['pattern'] && changepwdForm.get('newPassword').touched" class="help-block">
                                        Password should contain one capital letter, small letter , a special character and a number
                                    </span> 
                                </div>
                                <div class="form-outline mb-4">
                                    <input formControlName="confirmNewPassword" type="password" placeholder="Password" id="typePasswordX-2" class="form-control form-control-lg" />
                                     <span *ngIf="changepwdForm.get('confirmNewPassword').errors && changepwdForm.get('confirmNewPassword').errors['required'] && changepwdForm.get('confirmNewPassword').touched" class="help-block">
                                        Please enter a password
                                    </span> 
                                     <span *ngIf="changepwdForm.get('confirmNewPassword').errors && changepwdForm.get('confirmNewPassword').errors['minlength'] && changepwdForm.get('confirmNewPassword').touched" class="help-block">
                                        Password cannot be less than 8 characters
                                    </span> 
                                </div>
                                 <span *ngIf="changepwdForm.errors && changepwdForm.errors['invalidCreds']" class="help-block">
                                    Username/Password details are not valid, Please try again.
                                </span> 
                            </div>
                            

                            <button class="btn btn-primary btn-lg btn-block" type="submit" >Change Password</button>
                            
                           
                        </form>

                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>